<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

    					   	
	<bean id="studentServiceId" class="cn.tf.demo4.StudentServiceImpl"></bean>
	
	<!-- 切面类，含通知 -->
	<bean id="myAspect" class="cn.tf.demo4.MyAspect" ></bean>
	<!-- aop编程 -->
	<aop:config>
		<!-- 切入点 -->
		<aop:pointcut expression="execution(* cn.tf.demo4.*ServiceImpl.*(..))" id="myPointCut"/>
		<!-- 一个特殊的切面  ,包含一个切入点和一个通知-->
		<aop:advisor advice-ref="myAspect"  pointcut-ref="myPointCut"/>
	</aop:config>

</beans>